[tool.ruff]
extend-select = [
  "B",
  "C4",
  "PT",
  "RET",
  "SIM",
  "ARG",
  "PTH",
  "RUF",
  "PLE",
  "ANN",
  "RUF",
]

ignore = ["E402"]

[tool.ruff.extend-per-file-ignores]
"*.ipynb" = [
  "PLE1142" # await-outside-async: Jupyter Notebooks support top level await
]
