AIPROJECT_CONNECTION_STRING="your_connection_string"
AISEARCH_INDEX_NAME="products"
CHAT_MODEL="gpt-4o-mini"
EMBEDDINGS_MODEL="text-embedding-ada-002"
EVALUATION_MODEL="gpt-4o-mini"
INTENT_MAPPING_MODEL="gpt-4o-mini"
